body {
  font-family: 'Segoe UI', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;     
  overflow-x: hidden;
}

/*------------------ HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2c3e50;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  z-index: 1000;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.header__title {
  flex: 1;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
.header__logo {
  margin-right: 10px;
}

/* ---------------------MAIN */
/* main {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
} */
 /* ---------------------MAIN */
main {
  margin-top: 160px;
  display: grid;                     /* grid замість flex */
  grid-template-columns: 1fr;        /* одна колонка */
  gap: 40px;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

/* --------------Заголовок сторінки та лінк */
.page-title,
.back-link {
  text-align: left;
}
.back-link {
  color: darkgreen;
  text-decoration: none;
  transition: color 0.3s;
}
.back-link:hover {
  color: #c0392b;
}

/* -----------Секція з напрямками */
/* .direction {
  display: flex; 
  gap: 25px;
  width: 100%;
} */
 .direction {
  display: grid;             
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 90px;
  width: 100%;
}

/*-------------- СТАТТІ */
.card {
  border-left: 6px solid darkred;
  border-top: 2px dashed darkred;
  border-right: 2px dashed darkred;
  border-bottom: 2px dashed darkred;
  padding: 20px;
  margin: 15px;
  /* width: 100%; */
  border-radius: 12px;  
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0,0,0,0.15);
}
.card img[alt] {
  transition: opacity 0.5s ease;
}
.card img:hover {
  opacity: 0.45;
}

/* li з вкладеним списком */
li:has(> ul) {
  font-style: italic;
  font-weight: 300;
  font-size: 0.9em;
}

/*---------------- FOOTER */
.footer {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  background-color: #ecf0f1;
  border-radius: 15px 15px 0 0;
}
.footer__link {
  margin: 0 10px;
  color: #2980b9;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__link:hover {
  color: #c0392b;
}

img[src*="img"] {
  max-width: 80px;
}
/* Стилі для посилань */

.a_link:link {
  color: darkgreen; /* темно-зелений колір для ще не відвіданих посилань */
}

.a_link:visited {
  color: #48c4e3; /* залишаємо синім або можна теж змінити */
}

.a_link:hover {
  color: #c0392b; /* при наведенні */
}

.a_link{
  text-decoration: none;
  transition: color 0.3s;
}
